@define-color bg #0a0a0e;
@define-color surface #15161b;
@define-color text #dfe3ec;
@define-color muted #7f849c;
@define-color accent #f0f0f5;
@define-color urgent #ff5f6d;

* {
  font-family: "JetbrainsMono Nerd Font", "monospace";
  font-size: 12px;
  color: @text;
}

menu,
menu * {
  color: @text;
  background-color: @surface;
}

window#waybar {
  background-color: transparent;
}

#waybar {
  padding: 0;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0;
}

#workspaces {
  margin: 0 12px;
  border-radius: 0;
}

#workspaces button {
  background-color: transparent;
  color: @muted;
  padding: 0;
  margin: 0;
  min-width: 15px;
  font-weight: 500;
  border-radius: 0;
  transition: background-color 0.2s ease, color 0.2s ease;
}

#workspaces button label {
  min-width: 15px;
}

#workspaces button.focused {
  background-color: alpha(@accent, 0.1);
  color: @accent;
}

#workspaces button.urgent {
  background-color: @urgent;
  color: @surface;
}

#workspaces button:hover {
  background-color: alpha(@accent, 0.15);
  color: @text;
}

#window {
  padding: 0 6px;
  background-color: @surface;
  color: @muted;
}

#clock,
#temperature,
#custom-cpu_status,
#custom-gpu_status,
#memory,
#pulseaudio,
#network,
#battery,
#tray {
  background-color: @surface;
  padding: 0 16px;
  margin: 0 2px;
  min-width: 50px;
}

#custom-cpu_status,
#custom-gpu_status,
#memory,
#temperature {
  font-weight: bold;
  letter-spacing: 0.2px;
}

#custom-cpu_status,
#custom-gpu_status {
  min-width: 75px;
}

#pulseaudio.muted {
  color: @muted;
}

#temperature.warning,
#temperature.critical,
#custom-cpu_status.warning,
#custom-cpu_status.critical,
#custom-gpu_status.warning,
#custom-gpu_status.critical {
  background-color: alpha(@urgent, 0.15);
  color: @urgent;
}

#battery.warning,
#battery.critical,
#battery.low {
  background-color: @urgent;
  color: @bg;
}
