@define-color bg #0a0a0e;
@define-color surface #0f1015;
@define-color accent #8be9fd;
@define-color text #e6e9f1;

* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
    color: @text;
}

window {
    background: alpha(@bg, 0.92);
}

button {
    font-family: 'JetBrainsMono Nerd Font', monospace;
    background-color: alpha(@surface, 0.9);
    border: 1px solid alpha(@accent, 0.4);
    border-radius: 6px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.55);
}

#lock {
    background-image: image(url("../../.config/wlogout/lock.png"));
    margin : 5px 5px 5px 300px;
    padding: 5px;
}
#shutdown {
    background-image: image(url("../../.config/wlogout/power.png"));
    margin : 5px 300px 5px 5px;
    padding: 5px;
}
#logout {
    background-image: image(url("../../.config/wlogout/logout.png"));
    margin : 5px 300px 5px 5px;
    padding: 5px;
}
#reboot {
    background-image: image(url("../../.config/wlogout/restart.png"));
    margin : 5px 5px 5px 300px;
    padding: 5px;
}

#lock:focus {
    margin : 5px 5px 5px 200px;
}
#shutdown:focus {
    margin : 5px 200px 5px 5px;
}
#logout:focus {
    margin : 5px 200px 5px 5px;
}
#reboot:focus {
    margin : 5px 5px 5px 200px;
}

button:focus{
    background-color: alpha(@accent,0.9);
    color: #000000;
    background-position:center;
    border-color: alpha(@accent, 0.7);
}
